@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: RobotoRegular;
  src: url(/fonts/Roboto-Regular.ttf);
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: RobotoRegular;
  background-color: #f0f2f5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.ant-image-preview-img-wrapper{
  transform: translate3d(0px, -20px, 0px);
  &::before{
    height:0;
  }
  .ant-image-preview-img{
    margin: auto;
  }
}